*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    background-color: #977d6a;
}

header{
    background-color: #776960;
    color:white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
header h1{
    display: inline-block;
    font-size: 1.4rem;
    border: 4px solid #443c37;
    padding: 5px;
    border-radius: 50px;
}

.banner{
    position: relative;
    max-width: 100%;
}
 .intro h2{
    font-style: oblique;
    display: flex;
    flex-direction: row;
  padding: 10px;
  font-size: 1.5rem;
  position: absolute;
    top: 25%;
    left: 10px;
    background-color: #776960;
    color: white;
}
.intro p{
    display: flex;
    flex-direction: column;
  padding: 5px;
  font-size: 1.5rem;
  position: absolute;
    left: 10%;
    top: 55%;
    color: #443c37;
}


.food-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 250px;
    flex-wrap: wrap;
}

.cards {
    width: 250px;
    height: 300px;
    border: 2px solid #443c37;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    background-color: #cfb7a8;
    transition: transform 0.3s;
}

footer{
background-color:#776960;
color:white;
padding: 10px;
text-align:center;
position: relative;
bottom: 0;
width: 100%;
}

footer a {
    color:#cfb7a8;
}

/* background-color:#776960;
  color:#cfb7a8;
     color: #443c37; */
