*{
    padding: 0;
    margin: 0;
}
body{
    align-items: center; 
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    background-color: #977d6a;
}

header{
    background-color: #776960;
    color:white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
header h1{
    display: inline-block;
    font-size: 1.4rem;
    border: 4px solid #443c37;
    padding: 5px;
    border-radius: 50px;
}

.banner{
    position: relative;
    max-width: 100%;
}
 .intro h2{
    font-style: oblique;
    display: flex;
    flex-direction: row;
  padding: 10px;
  font-size: 1.2rem;
  position: absolute;
    top: 25%;
    left: 10px;
    background-color: #776960;
    color: white;
}
.intro p{
  padding: 5px;
  font-size: 1.5rem;
  position: relative;
    left: 10%;
    top: 45%;
    color: #443c37;
}

img {
    max-width: 100%;
    padding: 10px;
    height: auto;
}

.card{
display:flex;
flex-direction: column;
align-items: center;
height: 300px;
border: 2px solid #443c37;
border-radius: 15px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
text-align: center;
background-color: #cfb7a8;
transition: transform 0.3s;
margin: 20px;
}

.card-location{
    font-size: 0.9rem;
    color: #443c37;
    margin-top: 5px;
}
.card img{
    width: 130px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.card h3{
    margin: 10px 0 5px 0;
    color: #443c37;
    font-size: 1.2rem;
}

.card p{
    color: #443c37;
    padding: 0 10px;
    font-size: 1rem;
}


footer{
background-color:#776960;
color:white;
padding: 20px;
text-align:center;
position: fixed;
bottom: 0;
width: 100%;
}

footer a {
    color:#cfb7a8;
}

footer img {
    width: 100px;
    height: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    transform: scale(1.05);
}
/* .food-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 250px;
    height: 300px;
    border: 2px solid #443c37;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    background-color: #cfb7a8;
    transition: transform 0.3s;
}
.business-card:hover {
    transform: scale(1.05);
}


/* background-color:#776960;
  color:#cfb7a8;
     color: #443c37; */ 
