*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    background-color: #977d6a;
}

header{
    padding: 3px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#776960
}

header h1{
    border: 4px solid #5c514a;
    border-radius: 50px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.2rem;
    color: white;
}

.banner{
    position: fixed;
    margin-top: 45px;
    max-width: 100%;
    height: 500px;
}

.banner-text h2 {
background:#776960;
color:white;
position: absolute;
padding: 10px 10px;
left: 0%; 
top: 70%;
}

.banner-text p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
    font-weight: lighter;
    font-size: 1.3rem;
    text-align: center;
    padding : 20px 20px;
    color: #443c37;
}

footer{
background-color:#776960;
color:white;
padding: 10px;
text-align:center;
position: fixed;
bottom: 0;
width: 100%;
}

footer a {
    color:#cfb7a8;
}

